.body {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.small {
  .title {
    font-weight: 700;
    font-size: 1.25rem;
  }

  .logotype {
    width: 1.1875rem;
    height: 1.4506rem;
    
    *:first-child {
      fill: var(--brand-color-darken);
    }

    * {
      fill: var(--brand-color);
    }
  }
}

.large {
  .title {
    font-weight: 700;
    font-size: 1.5625rem;
  }

  .logotype {
    width: 3.9375rem;
    height: 3.465rem;
  }
}
