.body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
  gap: 1rem;
  flex-wrap: wrap;
  
  .videos-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
